@import "tailwindcss";

:root {
    --primary-color: #0d1117;
    --card-color: #161b22;
    --main-text-color: #c9d1d9;
    --secondary-text-color: #8b949e;
    --accent-color: #58a6ff;
    --secondary-accent-color: #366ece;
    --tertiary-accent-color: #1d2e4d;
    --danger-color: #872d2d;
    --secondary-danger-color: #531b1b;
}

@theme {
    --color-primary: var(--primary-color);
    --color-card: var(--card-color);
    --color-main-text: var(--main-text-color);
    --color-secondary-text: var(--secondary-text-color);
    --color-accent: var(--accent-color);
    --color-secondary-accent: var(--secondary-accent-color);
    --color-tertiary-accent: var(--tertiary-accent-color);
    --color-danger: var(--danger-color);
    --color-secondary-danger: var(--secondary-danger-color);
}

:root {
    scroll-behavior: smooth;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--color-primary);
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--color-primary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border-radius: 9999px;
    border: 2px solid var(--color-primary);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secondary-accent);
}

*::-webkit-scrollbar-corner {
    background: transparent;
}
