<footer class="w-full md:w-7/10 mx-auto text-main-text mt-20 bg-card px-6 py-6 rounded-xl">
    <div class="flex flex-col gap-4 md:flex-row md:justify-between md:items-center">
        <div>
            <h3 class="text-xl">Favicon by <a class="text-accent hover:underline" target="_blank" href="https://www.flaticon.es">Flaticon</a>:</h3>
            <a class="text-base text-accent hover:underline block mt-2" target="_blank" href="https://www.flaticon.es/iconos-gratis/negocios-y-finanzas" title="negocios y finanzas iconos">Negocios y finanzas iconos creados por Muhammad Atif - Flaticon</a>
        </div>
        <div>
            <h3 class="text-xl">Icons by <a class="text-accent hover:underline" target="_blank" href="https://tabler.io">tabler.io</a></h3>
            <h3 class="text-xl">Icons by <a class="text-accent hover:underline" target="_blank" href="https://devicon.dev">devicon.dev</a></h3>
            
        </div>
    </div>
</footer>