---
import '../../styles/global.css';
import NavLink from '../atoms/NavLink.astro';
---

<nav class="bg-card text-main-text mt-0 px-5 flex justify-center sticky top-0 w-7/10 mx-auto rounded-xl">
    <div class="flex justify-between w-2/3">
        <NavLink navLink="about" navTitle="About me"/>
        <NavLink navLink="experience" navTitle="Experience"/>
        <NavLink navLink="projects" navTitle="Projects"/>
        <NavLink navLink="learning" navTitle="Learning"/>
        <NavLink navLink="certificates" navTitle="Certificates"/>
    </div>
</nav>