---

const { 
    experienceCompany, 
    experienceTitle, 
    experienceDescription, 
    experienceDateStart, 
    experienceDateEnd, 
    experienceLocation,
    experienceTechnologies,   
    companyLogo
} = Astro.props;

---

<script>
    const button = document.getElementById('openExperienceDialog') as HTMLButtonElement | null;
    const dialog = document.getElementById('experienceDialog') as HTMLDialogElement | null;

    button?.addEventListener('click', function () {
        dialog?.showModal();
    });
</script>

<div class="w-3/5 bg-card p-5">
    <h1 class="text-xl text-center font-bold mb-5">{ experienceTitle }</h1>
    <div class="flex gap-2 items-center mb-2">
        <img src={companyLogo} alt={experienceCompany} class="max-h-12 object-contain" />
        <h2 class="text-lg font-semibold">{ experienceCompany }</h2>
    </div>
    
    <span class="text-sm text-secondary-text">{ experienceDateStart } - { experienceDateEnd }</span>
    <h3 class="text-md font-medium">{ experienceLocation }</h3>
    
    <button id="openExperienceDialog" class="cursor-pointer bg-accent text-main-text font-bold px-4 py-2 w-full rounded-lg hover:bg-secondary-accent transition-all mt-5">More info +</button>
    <dialog id="experienceDialog" class="bg-card p-5 m-auto text-main-text">
        <p>
            { 
                experienceDescription.map(function (description: string) {
                    return description + ",";
                }) 
            }
        </p>
        <p>
            { 
                experienceTechnologies.map(function (technologies: string) {
                    return technologies + ",";
                }) 
            }
        </p>
    </dialog>
</div>