---
const {
    navLink,
    navTitle
} = Astro.props;
---

<a href={"#" + navLink} class="px-3 py-3 text-sm sm:px-6 sm:text-base md:px-8 md:py-5 hover:bg-primary hover:cursor-pointer transition-all border-b-2 border-transparent hover:border-accent duration-300 hover:inset-shadow-accent-sm">
    {navTitle}
</a>