---
const {
    tech
} = Astro.props;
---

<div class="border-1 border-main-text py-2 px-3 font-bolder bg-primary rounded-lg hover:shadow-xl hover:shadow-primary hover:translate-1 transition-all">
    {tech}
</div>