---
import '../../styles/global.css';
---

<nav class="bg-card text-main-text mt-0 px-5 flex justify-center sticky top-0 w-7/10 mx-auto rounded-xl">
    <div class="flex justify-between w-2/3">
        <a href="#about" class="py-5 px-8 hover:bg-primary hover:cursor-pointer transition-all border-b-2 border-transparent hover:border-accent duration-300 hover:inset-shadow-accent-sm">
            About me
        </a>
        <a href="#experience" class="py-5 px-8 hover:bg-primary hover:cursor-pointer transition-all border-b-2 border-transparent hover:border-accent duration-300 hover:inset-shadow-accent-sm">
            Experience
        </a>
        <a href="#learning" class="py-5 px-8 hover:bg-primary hover:cursor-pointer transition-all border-b-2 border-transparent hover:border-accent duration-300 hover:inset-shadow-accent-sm">
            Learning
        </a>
        <a href="#certificates" class="py-5 px-8 hover:bg-primary hover:cursor-pointer transition-all border-b-2 border-transparent hover:border-accent duration-300 hover:inset-shadow-accent-sm">
            Certificates
        </a>
        <a href="#contact" class="py-5 px-8 hover:bg-primary hover:cursor-pointer transition-all border-b-2 border-transparent hover:border-accent duration-300 hover:inset-shadow-accent-sm">
            Contact
        </a>
    </div>
</nav>